<div class='term-container'>
    <div class='term-title'>
        CHÍNH SÁCH ƯU ĐÃI MUA SỐ LƯỢNG LỚN
    </div>
    <div class='term-picture'>

    </div>
    <div class='term-noti'>
        <div class='term-noti-picture'>

        </div>
        <div class='term-noti-info'>
            <div class='term-info-title'>
                <span class='title-picture'></span><span class='title-text'> LƯU Ý:</span>
            </div>
            <br>
            <div class='term-text-field'>
                Khách hàng đặt số lượng lớn trên 50 hộp sẽ được chiết
                khấu dựa trên thời gian chốt đơn hàng và đặt cọc như sau:
            </div>
            <br>
            <div style='line-height:30px;margin-left: 30px;' class='term-info-title'>
                <span class='title-picture-2'></span><span class='title-text-2'> 
                    Đơn đặt hàng được chốt và đặt cọc trước 30/11/2019: +2%
                </span>
                <br>
                <span class='title-picture-2'></span><span class='title-text-2'>
                    Đơn đặt hàng được chốt và đặt cọc trước 15/12/2019: +1%
                </span>
            </div>
        </div>
    </div>
</div>
<style>
.term-text-field {
    float: left;
    text-align: left;
    font-family: 'light';
    font-size: 20px;
    margin-left: 15px;
    color:rgb(255, 237, 193);
    line-height:30px;
}
.title-text {
    font-family: 'bold';
    font-size: 22px;
    margin-left: 15px;
    color:rgb(254, 211, 104);
}
.title-text-2 {
    font-family: 'light';
    font-size: 20px;
    margin-left: 15px;
    color:rgb(255, 237, 193);
}
.title-picture {
    margin-top: -8px;
    background: url("../../assets/doto.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    float: left;
    width: 25px;
    height: 25px;
}
.title-picture-2 {
    margin-top: 3px;
    background: url("../../assets/donho.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    float: left;
    width: 25px;
    height: 25px;
}
.term-info-title {
    float: left;
    width: 100%;
    text-align: left;
}
.term-noti {
    display: flex;
    justify-content: center;
    padding: 30px;
}
.term-noti-picture {
    max-width: 400px;
    height: 300px;
    flex: 4;
    background-image: url("../../assets/mutxoaisen.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-top: -70px;
}
.term-noti-info {
    flex: 6;
    max-width: 600px;
}
.term-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    justify-content: center;
}
.term-title {
    width: 100%;
    text-align: center;
    font-size: 35px;
    font-family: 'bold';
    color:rgb(254, 211, 104);
    margin-top: 30px;
}
.term-picture {
    align-self: center;
    height: 350px;
    width: 100%;
    max-width: 1000px;
    background-image: url("../../assets/chietkhau.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin-left: 60px;
}
</style>