<div class='nav-container'>
    <div class='nav-info'>
        <div class='nav-info-child'>
            <ul>
                <li><a>GIỚI THIỆU</a></li>
                <li><a>BỘ QUÀ TẶNG</a></li>
                <li><a>CHÍNH SÁCH</a></li>
                <li><a>LIÊN HỆ</a></li>
            </ul>
        </div>
    </div>
</div>
<style>
@media only screen and (max-width: 600px) {
  .nav-info-child {
    visibility: hidden;
  }

  .nav-container {
    max-height: 50px;
  }
}
.nav-button {
    width: 100px;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    line-height: 100%;
}
.nav-linhtinh {
    height: 25px;
    width: 100%;
    background-image: url("../../assets/topborder.png");
    background-size: 100%;
}
.nav-container {
    border-top: 20px solid transparent;
    -webkit-border-image: url("../../assets/topborder.png") 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../../assets/topborder.png") 100 stretch; /* Opera 11-12.1 */
    border-image: url("../../assets/topborder.png") 100 stretch;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right,rgb(0, 80, 78),rgb(1, 130, 118),rgb(0, 80, 78));
    height: 85px;
    -webkit-box-shadow: 0px 1px 47px -9px rgba(31, 31, 31, 0.75);
    -moz-box-shadow: 0px 1px 47px -9px rgba(31, 31, 31, 0.75);
    box-shadow: 0px 1px 47px -9px rgba(31, 31, 31, 0.75);
    border-bottom: 2px solid rgb(254, 211, 104);
}

.nav-info {
    display:flex;
    max-width: 1000px;
    width: 100%;
    height: 100%;
}

.nav-info-child {
    align-self: flex-end;
    width: 100%;
    height: 65px;
    padding:15px;
}
ul {
    display:flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    -webkit-border-image: url("../../assets/topmenu.png") 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../../assets/topmenu.png") 100 stretch; /* Opera 11-12.1 */
    border-image: url("../../assets/topmenu.png") 100 stretch;
}

li {
    display: inline-block;
    min-width: 200px;
}

li:last-child {
  border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    height: 100%;
    font-family: 'bold';
    font-size: 24px;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
</style>
