<div class="cacvicuabanh">
  <div class="title">MỨT - HẠT</div>
  <div class="hangmot">
    <div class="chitietvibanh">
      <div class="hinhbanh1"></div>
      <div class="tenbanh">Hạt sen sấy</div>
    </div>
    <div class="chitietvibanh">
      <div class="hinhbanh2">
      </div>
      <div class="tenbanh">Mận sấy dẻo</div>
    </div>
    <div class="chitietvibanh">
      <div class="hinhbanh3">
      </div>
      <div class="tenbanh">Xoài cát sấy dẻo</div>
    </div>
  </div>
  <div class="hanghai">
    <div class="chitietvibanh">
      <div class="hinhbanh4 buthemxiu"></div>
      <div class="tenbanh">Hạt điều original</div>
    </div>
    <div class="chitietvibanh">
      <div class="hinhbanh5 buthemxiu">
      </div>
      <div class="tenbanh">Hạnh nhân sea salt</div>
    </div>
  </div>
  <div class="title" style='margin-top: 90px;'>TRÀ - RƯỢU</div>
  <div class="hangba">
    <div style='max-width: 1000px;width: 100%;display: flex'>
      <div class="chitietvibanh test">
        <div class="hinhbanh6"></div>
        <div class="tenbanh">Trà lài<br>Cầu Đất Farm</div>
      </div>
      <div class="chitietvibanh test">
        <div class="hinhbanh7">
        </div>
        <div class="tenbanh">Rượu vang Pháp<br>Le Petit des<br>Celliers d'Asie<br>(Red)</div>
      </div>
      <div class="chitietvibanh test">
        <div class="hinhbanh8">
        </div>
        <div class="tenbanh">Rượu vang Chile<br>Concha YToro<br>Casillero Del<br>Diablo Reserva<br>(Red)</div>
      </div>
      <div class="chitietvibanh test">
        <div class="hinhbanh9">
        </div>
        <div class="tenbanh">Rượu vang Úc<br>George Wyndham<br>BIN555 Shiraz<br>(Red)</div>
      </div>
    </div>
  </div>
</div>
<style>
.title {
  width: 100%;
  text-align: center;
  font-size: 35px;
  font-family: 'bold';
  color:rgb(254, 211, 104);
}
.test {
  max-width: 200px;
}
.cacvicuabanh {
  padding-top: 30px;
  height: fit-content;
  background-image: linear-gradient(to right,rgb(0, 80, 78),rgb(1, 130, 118),rgb(0, 80, 78));
}
.hangmot {
  display: flex;
  justify-content: center;
}

.hanghai {
  display: flex;
  justify-content: center;
}
.chitietvibanh {
  color: white;
  margin: 20px 20px 0px 20px;
  padding: 10px;
  flex:3;
  width: 33%;
  height: fit-content;
  justify-content: center;
  text-align: center;
  max-width: 230px;
}

.hinhbanh1 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/sen.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hinhbanh2 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/man.jpg');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.hinhbanh3 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/xoai.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh4 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/hatdieu.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh5 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/hanhnhan.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}

.hinhbanh6 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/tra.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}

.hinhbanh7 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/ruou1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}

.hinhbanh8 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/ruou2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}

.hinhbanh9 {
  height: 250px;
  border: 3.5px solid #fed01a;
  background-image: url('../../assets/ruou3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 10px;
}

.tenbanh {
  font-family: 'special';
  margin-top: 8px;
  font-size: 20px;
  color:rgb(255, 243, 215);
}

.hangba {
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
}
</style>
