<div class='slider-container'>
    <div class='logo-hyg-container'><div class='logo-hyg'></div></div>
    <div class='slider'>
        <ngx-slick-carousel class="carousel"
        #slickModal="slick-carousel"
        [config]="slideConfig"
        (init)="slickInit($event)"
        (breakpoint)="breakpoint($event)"
        (afterChange)="afterChange($event)"
        (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of slides" class="slide">
                <img src="{{ slide.img }}" alt="" width="100%">
            </div>
        </ngx-slick-carousel>
    </div>
    <div class='slider-indicator'>
        <span *ngFor="let slide of slides">
            <div [class.active]='slide.active' class='lightimg'></div>
        </span>
    </div>
</div>
<style>
.logo-hyg-container {
    position: relative;
    height: 250px;
    margin-top: -20px;
}
@media only screen and (max-width: 600px) {
    .logo-hyg {
        max-height: 20vh;
    }
    .logo-hyg-container {
      height: 150px;
    }
    .intro-container {
      height: 1000px;
    }
}
.slider-indicator{
    display: flex;
    justify-content: center;
    margin-top: 5px;
}

.lightimg {
    height: 25px;
    width: 25px;
    margin: 5px;
    background-image: url(../../assets/slider-button.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.lightimg.active {
    height: 25px;
    width: 25px;
    margin: 5px;
    background-image: url(../../assets/slider-button-active.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.slider-container{
    width: 100%;
    max-width: 1000px;
    margin: auto;
}
.logo-hyg{
    margin-bottom: -50px;
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 300px;
    max-width: 1000px;
    background-image: url("../../assets/logotitle.png");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}
.slider {
    height: auto;
    width: 100%;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    -webkit-border-image: url("../../assets/slideframe.png") 100 stretch; /* Safari 3.1-5 */
    -o-border-image: url("../../assets/slideframe.png") 100 stretch; /* Opera 11-12.1 */
    border-image: url("../../assets/slideframe.png") 100 stretch;
}
</style>
