<div class='product-container'>
    <div class='product'>
        <div class='product-info'>
            <div class='product-info-title'>
                <div class='product-info-title-picture'>

                </div>
                <div class='product-info-title-title'>
                    Hải Yến I
                </div>
            </div>
            <div class='product-info-textfield'>
                Lấy sắc xanh dương làm chủ đạo, hộp quà Hải Yến thu hút ánh nhìn bở sự nhã nhặn và tinh tế.
                Xanh dương còn là sắc màu của sự linh hoạt và vững bền. Hình ảnh đôi chim Hoàng yến hài hoà
                trong sắc xanh là biểu trưng của ấm no, phồn thịnh lâu dài và vững chắc.
            </div>
            <div style='margin-top:20px;' class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>TRÀ LÀI CẦU ĐẤT FARM</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT ĐIỀU ORIGINAL</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠNH NHÂN SEA SALT</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT SEN SẤY</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>XOÀI CÁT SẤY DẺO</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>MẬN SẤY DẺO</div>
                </div>
            </div>
        </div>
        <div class='product-picture'>

        </div>
    </div>



    <!-- Product 2 -->
    <div class='product'>
        <div class='product-picture-vang'></div>
        <div class='product-info'>
            <div class='product-info-title'>
                <div class='product-info-title-picture'>

                </div>
                <div class='product-info-title-title'>
                    Hải Yến II
                </div>
            </div>
            <div class='product-info-textfield'>
                Lấy sắc xanh dương làm chủ đạo, hộp quà Hải Yến thu hút ánh nhìn bở sự nhã nhặn và tinh tế.
                Xanh dương còn là sắc màu của sự linh hoạt và vững bền. Hình ảnh đôi chim Hoàng yến hài hoà
                trong sắc xanh là biểu trưng của ấm no, phồn thịnh lâu dài và vững chắc.
            </div>
            <div style='margin-top:20px;' class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT ĐIỀU ORIGINAL</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT SEN SẤY</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠNH NHÂN SEA SALT</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>MẬN SẤY DẺO</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>RƯỢU VANG PHÁP LE PETIT DES CELLIERS D'ASIE</div>
                </div>
            </div>
        </div>
    </div>


    <!-- Product 3 -->
    <div class='product'>
        <div class='product-info'>
            <div class='product-info-title'>
                <div class='product-info-title-picture'>

                </div>
                <div class='product-info-title-title'>
                    Dạ Yến
                </div>
            </div>
            <div class='product-info-textfield'>
              Hộp quà Dạ Yến nổi bật với màu vàng như sắc mai nở rộ, là biểu tượng của sự vinh hiển và thành công. Cùng với hình ảnh đôi chim Hoàng Yến, hộp quà Dạ Yến là thông điệp không khí xuân đang về với nhiều lộc tài, giàu sang và phú quý.
            </div>
            <div style='margin-top:20px;' class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>TRÀ LÀI CẦU ĐẤT FARM</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT SEN SẤY</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠNH NHÂN SEA SALT</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>MẬN SẤY DẺO</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>HẠT ĐIỀU ORIGINAL</div>
                </div>
                <div class='option-2'>
                    <div class='option-picture'></div>
                    <div class='option-title'>XOÀI CÁT SẤY DẺO</div>
                </div>
            </div>
            <div class='product-info-option'>
                <div class='option-1'>
                    <div class='option-picture'></div>
                    <div class='option-title'>RƯỢU VANG PHÁP LE PETIT DES CELLIERS D'ASIE</div>
                </div>
            </div>
        </div>
        <div class='product-picture-dayen'>

        </div>
    </div>
    <div class='upgrade'>

    </div>
</div>
<style>
.option {
    display: flex;
}
.option-1 {
    flex: 5;
    display: flex;
}
.option-2 {
    flex: 5;
    display: flex;
}
.option-title {
    margin-left: 5px;
    margin-top: 4px;
    font-family: 'bold';
    color:rgb(255, 243, 215);
    font-size: 13px;
}
.option-picture {
    height: 13px;
    width: 13px;
    background-image: url("../../assets/slider-button.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.product-info-option {
    display: flex;
}

.product-info-textfield {
    margin-top: 10px;
    text-align: justify;
    text-justify: inter-word;
    color:rgb(255, 243, 215);
    font-family: 'light';
    font-size: 18px;
    line-height: 24px;
}

.product-info-title {
    display: flex;
}

.product-info-title-picture {
    flex:2;
    margin-top: 10px;
    background-image: url("../../assets/lotus.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}

.product-info-title-title {
    flex:8;
    font-family: 'special';
    font-size: 45px;
    color:rgb(254, 211, 104)
}

.product-container {
    justify-content: center;
    align-self: center;
    width: 100%;
}

.product {
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
    min-height: 40vh;
}

.product-info {
    flex: 4.5;
    max-width: 350px;
    margin-top: 30px;
}

.product-picture {
    flex: 6.5;
    max-width: 650px;
    background-image: url("../../assets/haiyen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.product-picture-vang {
    flex: 6.5;
    max-width: 650px;
    background-image: url("../../assets/haiyenruou.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.product-picture-dayen {
    flex: 6.5;
    max-width: 650px;
    background-image: url("../../assets/dayen.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
}
.upgrade {
    height: 180px;
    background-image: url("../../assets/upgrade.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    align-self: center;
}
</style>
